<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cheng.designpatternstudy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".singleton.SingletonActivity"
            android:label="@string/title_activity_singleton" />
        <!-- 设计模式之禅 -->
        <activity
            android:name="com.cheng.zenofdesignpatterns.ZenofDesignPatternsActivity"
            android:label="@string/title_activity_zodp" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.ZoDPPartsActivity"
            android:label="@string/title_activity_zodp_part" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.principle.srp.ZoDPSingleResponsibilityPrincipleActivity"
            android:label="@string/title_activity_zodp_singleresponsibilityprinciple" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.principle.lsp.ZoDPLiskovSubstitutionPrincipleActivity"
            android:label="@string/title_activity_zodp_liskovsubstitutionprinciple" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.principle.dip.ZoDPDependenceInversionPrincipleActivity"
            android:label="@string/title_activity_zodp_dependenceinversionprinciple" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.principle.isp.ZoDPInterfaceSegregationPrincipleActivity"
            android:label="@string/title_activity_zodp_interfacesegregationprinciple" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.principle.lkp.ZoDPLeastKnowledgePrincipleActivity"
            android:label="@string/title_activity_zodp_leastknowledgeprinciple" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.principle.ocp.ZoDPOpenClosePrincipleActivity"
            android:label="@string/title_activity_zodp_opencloseprinciple" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.patterns.singleton.ZoDPSingletonActivity"
            android:label="@string/title_activity_zodp_singleton" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.patterns.factorymethod.ZoDPFactoryMethodActivity"
            android:label="@string/title_activity_zodp_factorymethod" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.patterns.abstractfactory.ZoDPAbstractFactoryActivity"
            android:label="@string/title_activity_zodp_abstractfactory" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.patterns.templatemethod.ZoDPTemplateMethodActivity"
            android:label="@string/title_activity_zodp_templatemethod" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.patterns.builder.ZoDPBuilderActivity"
            android:label="@string/title_activity_zodp_builder" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.patterns.proxy.ZoDPProxyActivity"
            android:label="@string/title_activity_zodp_proxy" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.patterns.prototype.ZoDPPrototypeActivity"
            android:label="@string/title_activity_zodp_prototype" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.patterns.mediator.ZoDPMediatorActivity"
            android:label="@string/title_activity_zodp_mediator" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.patterns.command.ZoDPCommandActivity"
            android:label="@string/title_activity_zodp_command" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.patterns.chainofresponsibility.ChainofResponsibilityActivity"
            android:label="@string/title_activity_zodp_chainofresponsibility" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.patterns.decorator.ZoDPDecoratorActivity"
            android:label="@string/title_activity_zodp_decorator" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.patterns.strategy.ZoDPStrategyActivity"
            android:label="@string/title_activity_zodp_strategy" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.patterns.adapter.ZoDPAdapterActivity"
            android:label="@string/title_activity_zodp_adapter" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.patterns.iterator.ZoDPIteratorActivity"
            android:label="@string/title_activity_zodp_iterator" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.patterns.composite.ZoDPCompositeActivity"
            android:label="@string/title_activity_zodp_composite" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.patterns.observer.ZoDPObserverActivity"
            android:label="@string/title_activity_zodp_observer" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.patterns.facade.ZoDPFacadeActivity"
            android:label="@string/title_activity_zodp_facade"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.patterns.memento.ZoDPMementoActivity"
            android:label="@string/title_activity_zodp_memento" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.patterns.visitor.ZoDPVisitorActivity"
            android:label="@string/title_activity_zodp_visitor" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.patterns.state.ZoDPStateActivity"
            android:label="@string/title_activity_zodp_state" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.patterns.interpreter.ZoDPInterpreterActivity"
            android:label="@string/title_activity_zodp_interpreter" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.patterns.flyweight.ZoDPFlyweightActivity"
            android:label="@string/title_activity_zodp_flyweight" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.patterns.bridge.ZoDPBridgeActivity"
            android:label="@string/title_activity_zodp_bridge" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.patternpk.creational.ZoDPCreationalPKActivity"
            android:label="@string/title_activity_zodp_creationalpk" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.patternpk.structural.ZoDPStructuralPKActivity"
            android:label="@string/title_activity_zodp_structuralpk" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.patternpk.behavioral.ZoDPBehavioralPKActivity"
            android:label="@string/title_activity_zodp_behavioralpk" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.patternpk.crosswarzone.ZoDPCrossWarZonePKActivity"
            android:label="@string/title_activity_zodp_crosswarzonepk" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.perfectworld.command_chain.ZoDPCommandChainActivity"
            android:label="@string/title_activity_zodp_commandchain" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.perfectworld.factory_strategy.ZoDPFactoryStrategyActivity"
            android:label="@string/title_activity_zodp_factorystartegy" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.perfectworld.observer_mediator.ZoDPObserverMediatorActivity"
            android:label="@string/title_activity_zodp_observermediator" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.extension.mvcframework.UiZoDPMVCFramework"
            android:label="@string/title_activity_zodp_mvcframework" />
        <activity
            android:name="com.cheng.zenofdesignpatterns.extension.newpatterns.UiZoDPNewPatterns"
            android:label="@string/title_activity_zodp_newpatterns" />
        <!-- 大话设计模式 -->
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.BigTalkDesignPatternsActivity"
            android:label="@string/title_activity_btdp" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.Chapter01Activity"
            android:label="@string/title_activity_btdp_chapter01" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.Chapter02Activity"
            android:label="@string/title_activity_btdp_chapter02" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.Chapter03Activity"
            android:label="@string/title_activity_btdp_chapter03" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.Chapter04Activity"
            android:label="@string/title_activity_btdp_chapter01" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.Chapter05Activity"
            android:label="@string/title_activity_btdp_chapter05" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.Chapter06Activity"
            android:label="@string/title_activity_btdp_chapter06" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.Chapter07Activity"
            android:label="@string/title_activity_btdp_chapter07" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.Chapter08Activity"
            android:label="@string/title_activity_btdp_chapter08" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.Chapter09Activity"
            android:label="@string/title_activity_btdp_chapter09" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.Chapter10Activity"
            android:label="@string/title_activity_btdp_chapter10" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.Chapter11Activity"
            android:label="@string/title_activity_btdp_chapter11" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.Chapter12Activity"
            android:label="@string/title_activity_btdp_chapter12" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.Chapter13Activity"
            android:label="@string/title_activity_btdp_chapter13" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.Chapter14Activity"
            android:label="@string/title_activity_btdp_chapter14" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.Chapter15Activity"
            android:label="@string/title_activity_btdp_chapter15" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.Chapter16Activity"
            android:label="@string/title_activity_btdp_chapter16" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.Chapter17Activity"
            android:label="@string/title_activity_btdp_chapter17" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.Chapter18Activity"
            android:label="@string/title_activity_btdp_chapter18" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.Chapter19Activity"
            android:label="@string/title_activity_btdp_chapter19" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.Chapter20Activity"
            android:label="@string/title_activity_btdp_chapter20" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.Chapter21Activity"
            android:label="@string/title_activity_btdp_chapter21" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.Chapter22Activity"
            android:label="@string/title_activity_btdp_chapter22" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.Chapter23Activity"
            android:label="@string/title_activity_btdp_chapter23" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.Chapter24Activity"
            android:label="@string/title_activity_btdp_chapter24" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.Chapter25Activity"
            android:label="@string/title_activity_btdp_chapter25" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.Chapter26Activity"
            android:label="@string/title_activity_btdp_chapter26" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.Chapter27Activity"
            android:label="@string/title_activity_btdp_chapter27" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.Chapter28Activity"
            android:label="@string/title_activity_btdp_chapter28" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.Chapter29Activity"
            android:label="@string/title_activity_btdp_chapter29" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.Chapter30Activity"
            android:label="@string/title_activity_btdp_chapter30" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.simplefactory.BTDPSimpleFactoryActivity"
            android:label="@string/title_activity_btdp_simplefactory" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.strategy.BTDPStrategyActivity"
            android:label="@string/title_activity_btdp_strategy" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.decorator.BTDPDecotatorActivity"
            android:label="@string/title_activity_btdp_decotator" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.proxy.BTDPProxyActivity"
            android:label="@string/title_activity_btdp_proxy" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.factorymethod.BTDPFactoryMethodActivity"
            android:label="@string/title_activity_btdp_factorymethod" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.templatemethod.BTDPTemplateMethodActivity"
            android:label="@string/title_activity_btdp_templatemethod" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.facade.BTDPFacadeActivity"
            android:label="@string/title_activity_btdp_facade" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.builder.BTDPBuilderActivity"
            android:label="@string/title_activity_btdp_builder" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.observer.BTDPObserverActivity"
            android:label="@string/title_activity_btdp_observer" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.abstractfactory.BTDPAbstractFactoryActivity"
            android:label="@string/title_activity_btdp_abstractfactory" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.state.BTDPStateActivity"
            android:label="@string/title_activity_btdp_state" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.adapter.UiBTDPAdapter"
            android:label="@string/title_activity_btdp_adapter" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.memento.BTDPMementoActivity"
            android:label="@string/title_activity_btdp_memento" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.composite.BTDPCompositeActivity"
            android:label="@string/title_activity_btdp_composite" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.iterator.BTDPIteratorActivity"
            android:label="@string/title_activity_btdp_iterator" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.singleton.BTDPSingletonActivity"
            android:label="@string/title_activity_btdp_singleton" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.bridge.BTDPBridgeActivity"
            android:label="@string/title_activity_btdp_bridge" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.command.BTDPCommandActivity"
            android:label="@string/title_activity_btdp_command" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.chainofresponsibility.BTDPChainofResponsibilityActivity"
            android:label="@string/title_activity_btdp_chainofresponsibility" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.mediator.BTDPMediatorActivity"
            android:label="@string/title_activity_btdp_mediator" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.flyweight.BTDPFlyweightActivity"
            android:label="@string/title_activity_btdp_flyweight" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.interpreter.BTDPInterpreterActivity"
            android:label="@string/title_activity_btdp_interpreter" />
        <activity
            android:name="com.cheng.bigtalkdesignpatterns.visitor.BTDPVisitorActivity"
            android:label="@string/title_activity_btdp_visitor" />
        <!-- 最佳实践 -->
        <activity android:name="com.cheng.bestpractice.BestPracticeActivity"
            android:label="@string/title_activity_bp"/>
        <activity android:name="com.cheng.bestpractice.observer.BPObserverActivity"
            android:label="@string/title_activity_bp_observer"/>
        <activity android:name="com.cheng.bestpractice.observer.activity.BPObserverFirstActivity"
            android:label="@string/title_activity_bp_observerfirst"/>
        <activity android:name="com.cheng.bestpractice.observer.activity.BPObserverOtherActivity"
            android:label="@string/title_activity_bp_observerother"/>
    </application>

</manifest>
