<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cheng.animationstudy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.UiMain"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UiFrameAnim"
            android:label="@string/title_uidrawableanim" />
        <activity
            android:name=".activity.UiTweenAnim"
            android:label="@string/title_uitweenanim" />
        <activity
            android:name=".activity.UiPropertyAnim"
            android:label="@string/title_uipropertyanim" />
        <activity
            android:name=".activity.UiNineOldAndroids"
            android:label="@string/title_uinineoldandroids" />
        <activity
            android:name=".activity.UiAdvanced"
            android:label="@string/title_uiadvanced" />
        <activity
            android:name=".activity.UiImitateWandoujia"
            android:label="@string/title_uiimitatewandoujia" />
        <activity
            android:name=".activity.UiImitateBaiduReadBubble"
            android:label="@string/title_activity_ui_imitate_baidu_read_bubble" />
        <activity
            android:name=".activity.UiImitateMogujieCart"
            android:label="@string/title_activity_ui_imitate_mogujie_cart" />
        <activity
            android:name=".activity.UiImitateUCPullDownEye"
            android:label="@string/title_activity_ui_imitate_ucpull_down_eye" />
        <activity
            android:name=".activity.UiImitateTaobaoRetraction"
            android:label="@string/title_activity_ui_imitate_taobao_retraction" />
        <activity
            android:name=".activity.UiImitateBrowserZoomView"
            android:label="@string/title_activity_ui_imitate_browser_zoom_view" />
        <activity
            android:name=".activity.UiViewNatrueTransitionAnim"
            android:label="@string/title_activity_ui_view_natrue_transition_anim" />
        <activity
            android:name=".activity.UiPullToRefreshAnim01"
            android:label="@string/title_activity_ui_pull_to_refresh_anim01" />
        <activity
            android:name=".activity.UiPullToRefreshAnim02"
            android:label="@string/title_activity_ui_pull_to_refresh_anim02" />
        <activity
            android:name=".activity.UiPullToRefreshAnim03"
            android:label="@string/title_activity_ui_pull_to_refresh_anim03" />
        <activity
            android:name=".activity.UiPropertyAnimAdvanced"
            android:label="@string/title_activity_ui_property_anim_advanced" />
        <activity
            android:name=".activity.UiLayoutAnim"
            android:label="@string/title_activity_ui_layout_anim" />
        <activity
            android:name=".activity.UiLayoutAnimDefault"
            android:label="@string/title_activity_ui_layout_anim_default" />
        <activity
            android:name=".activity.UiLayoutAnimHideShow"
            android:label="@string/title_activity_ui_layout_anim_hide_show" />
        <activity
            android:name=".activity.UiAnimStreamControl"
            android:label="@string/title_activity_ui_anim_stream_control" />
        <activity
            android:name=".activity.UiCommonPropertyAnim"
            android:label="@string/title_activity_ui_common_property_anim" />
        <activity
            android:name=".activity.UiObjectPropertyAnim"
            android:label="@string/title_activity_ui_object_property_anim" />
        <activity
            android:name=".activity.UiActivityJump"
            android:label="@string/title_activity_ui_activity_jump" />
        <activity
            android:name=".activity.UiShowDialog"
            android:label="@string/title_activity_ui_show_dialog" />
        <activity
            android:name=".activity.UiFragmentTransition"
            android:label="@string/title_activity_ui_fragment_transition" />
        <activity
            android:name=".activity.UiViewPagerTransition"
            android:label="@string/title_activity_ui_view_pager_transition" />
        <activity
            android:name=".activity.UiActivityJumpAim"
            android:label="@string/title_activity_ui_activity_jump_aim" />
        <activity
            android:name=".activity.UiActivityOptionsCompatDemo"
            android:label="@string/title_activity_ui_activity_options_compat_demo" />
        <activity
            android:name=".activity.UiActivityOptionsCompatDemoTarget"
            android:label="@string/title_activity_ui_activity_options_compat_demo_target"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".activity.UiAnimByPath"
            android:label="@string/title_activity_ui_anim_by_path" />
        <activity
            android:name=".activity.UiLeafFlyLoadingAnim"
            android:label="@string/title_activity_ui_leaf_fly_loading_anim" />
        <activity
            android:name=".activity.UiDynamicRotationAnim"
            android:label="@string/title_activity_ui_dynamic_rotation_anim" />
        <activity
            android:name=".activity.UiImitateAutoHomePTRA"
            android:label="@string/title_activity_ui_imitate_athmpt_anim" />
        <activity
            android:name=".activity.UiImitateMeiTuanPTRA"
            android:label="@string/title_activity_ui_imitate_meituanpt_anim" />
        <activity
            android:name=".activity.UiImitateGoogleSRLA01"
            android:label="@string/title_activity_ui_imitate_google_srla01" />
        <activity
            android:name=".activity.UiImitateGoogleSRLA02"
            android:label="@string/title_activity_ui_imitate_google_srla02" />
        <activity
            android:name=".activity.UiBGARefreshLayout"
            android:label="@string/title_activity_ui_bgarefresh_layout" />
        <activity
            android:name=".activity.UiBGANormalListView"
            android:label="@string/title_activity_ui_bganormal_list_view" />
        <activity
            android:name=".activity.UiBGANormalRecyclerView"
            android:label="@string/title_activity_ui_bgarecycler_view" />
        <activity
            android:name=".activity.UiBGASwipeListView"
            android:label="@string/title_activity_ui_bgaswipe_list_view" />
        <activity
            android:name=".activity.UiBGASwipeRecyclerView"
            android:label="@string/title_activity_ui_bgaswipe_recycler_view" />
        <activity
            android:name=".activity.UiBGAScrollView"
            android:label="@string/title_activity_ui_bga_scroll_view" />
        <activity
            android:name=".activity.UiBGAWebView"
            android:label="@string/title_activity_ui_bga_web_view" />
        <activity
            android:name=".activity.UiBGAViewPager"
            android:label="@string/title_activity_ui_bga_view_pager" />
        <activity
            android:name=".activity.UiSunRosePullToRefreshAnim"
            android:label="@string/title_activity_ui_sun_rose_pull_to_refresh_anim" />
        <activity
            android:name=".activity.UiZrcListView"
            android:label="@string/title_activity_ui_zrc_list_view"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
