<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cheng.animationstudy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FrameAnimActivity"
            android:label="@string/title_uidrawableanim" />
        <activity
            android:name=".activity.TweenAnimActivity"
            android:label="@string/title_uitweenanim" />
        <activity
            android:name=".activity.PropertyAnimActivity"
            android:label="@string/title_uipropertyanim" />
        <activity
            android:name=".activity.NineOldAndroidsActivity"
            android:label="@string/title_uinineoldandroids" />
        <activity
            android:name=".activity.AdvancedAnimActivity"
            android:label="@string/title_uiadvanced" />
        <activity
            android:name=".activity.ImitateWandoujiaActivity"
            android:label="@string/title_uiimitatewandoujia" />
        <activity
            android:name=".activity.ImitateBaiduReadBubbleActivity"
            android:label="@string/title_activity_ui_imitate_baidu_read_bubble" />
        <activity
            android:name=".activity.ImitateMogujieCartActivity"
            android:label="@string/title_activity_ui_imitate_mogujie_cart" />
        <activity
            android:name=".activity.ImitateUCPullDownEyeActivity"
            android:label="@string/title_activity_ui_imitate_ucpull_down_eye" />
        <activity
            android:name=".activity.ImitateTaobaoRetractionActivity"
            android:label="@string/title_activity_ui_imitate_taobao_retraction" />
        <activity
            android:name=".activity.ImitateBrowserZoomViewActivity"
            android:label="@string/title_activity_ui_imitate_browser_zoom_view" />
        <activity
            android:name=".activity.ViewNatrueTransitionAnimActivity"
            android:label="@string/title_activity_ui_view_natrue_transition_anim" />
        <activity
            android:name=".activity.PullToRefreshAnim01Activity"
            android:label="@string/title_activity_ui_pull_to_refresh_anim01" />
        <activity
            android:name=".activity.PullToRefreshAnim02Activity"
            android:label="@string/title_activity_ui_pull_to_refresh_anim02" />
        <activity
            android:name=".activity.PullToRefreshAnim03Activity"
            android:label="@string/title_activity_ui_pull_to_refresh_anim03" />
        <activity
            android:name=".activity.PropertyAnimAdvancedActivity"
            android:label="@string/title_activity_ui_property_anim_advanced" />
        <activity
            android:name=".activity.LayoutAnimActivity"
            android:label="@string/title_activity_ui_layout_anim" />
        <activity
            android:name=".activity.LayoutAnimDefaultActivity"
            android:label="@string/title_activity_ui_layout_anim_default" />
        <activity
            android:name=".activity.LayoutAnimHideShowActivity"
            android:label="@string/title_activity_ui_layout_anim_hide_show" />
        <activity
            android:name=".activity.AnimStreamControlActivity"
            android:label="@string/title_activity_ui_anim_stream_control" />
        <activity
            android:name=".activity.CommonPropertyAnimActivity"
            android:label="@string/title_activity_ui_common_property_anim" />
        <activity
            android:name=".activity.ObjectPropertyAnimActivity"
            android:label="@string/title_activity_ui_object_property_anim" />
        <activity
            android:name=".activity.TransitionActivityFirst"
            android:label="@string/title_activity_ui_activity_jump" />
        <activity
            android:name=".activity.ShowDialogActivity"
            android:label="@string/title_activity_ui_show_dialog" />
        <activity
            android:name=".activity.FragmentTransitionActivity"
            android:label="@string/title_activity_ui_fragment_transition" />
        <activity
            android:name=".activity.ViewPagerTransitionView"
            android:label="@string/title_activity_ui_view_pager_transition" />
        <activity
            android:name=".activity.TransitionActivitySecond"
            android:label="@string/title_activity_ui_activity_jump_aim" />
        <activity
            android:name=".activity.OptionsCompatDemoActivity"
            android:label="@string/title_activity_ui_activity_options_compat_demo" />
        <activity
            android:name=".activity.OptionsCompatDemoTargetActivity"
            android:label="@string/title_activity_ui_activity_options_compat_demo_target"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".activity.AnimByPathActivity"
            android:label="@string/title_activity_ui_anim_by_path" />
        <activity
            android:name=".activity.LeafFlyLoadingAnimActivity"
            android:label="@string/title_activity_ui_leaf_fly_loading_anim" />
        <activity
            android:name=".activity.DynamicRotationAnimActivity"
            android:label="@string/title_activity_ui_dynamic_rotation_anim" />
        <activity
            android:name=".activity.ImitateAutoHomePTRAActivity"
            android:label="@string/title_activity_ui_imitate_athmpt_anim" />
        <activity
            android:name=".activity.ImitateMeiTuanPTRAActivity"
            android:label="@string/title_activity_ui_imitate_meituanpt_anim" />
        <activity
            android:name=".activity.ImitateGoogleSRLA01Activity"
            android:label="@string/title_activity_ui_imitate_google_srla01" />
        <activity
            android:name=".activity.ImitateGoogleSRLA02Activity"
            android:label="@string/title_activity_ui_imitate_google_srla02" />
        <activity
            android:name=".activity.BGARefreshLayoutActivity"
            android:label="@string/title_activity_ui_bgarefresh_layout" />
        <activity
            android:name=".activity.BGANormalListViewActivity"
            android:label="@string/title_activity_ui_bganormal_list_view" />
        <activity
            android:name=".activity.BGANormalRecyclerViewActivity"
            android:label="@string/title_activity_ui_bgarecycler_view" />
        <activity
            android:name=".activity.BGASwipeListViewActivity"
            android:label="@string/title_activity_ui_bgaswipe_list_view" />
        <activity
            android:name=".activity.BGASwipeRecyclerViewActivity"
            android:label="@string/title_activity_ui_bgaswipe_recycler_view" />
        <activity
            android:name=".activity.BGAScrollViewActivity"
            android:label="@string/title_activity_ui_bga_scroll_view" />
        <activity
            android:name=".activity.BGAWebViewActivity"
            android:label="@string/title_activity_ui_bga_web_view" />
        <activity
            android:name=".activity.BGAViewPagerActivity"
            android:label="@string/title_activity_ui_bga_view_pager" />
        <activity
            android:name=".activity.SunRosePullToRefreshAnimActivity"
            android:label="@string/title_activity_ui_sun_rose_pull_to_refresh_anim" />
        <activity
            android:name=".activity.ZrcListViewActivity"
            android:label="@string/title_activity_ui_zrc_list_view"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>
