<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cheng.animationstudy" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.UiMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.UiFrameAnim"
            android:label="@string/title_uidrawableanim" />
        <activity
            android:name=".ui.UiTweenAnim"
            android:label="@string/title_uitweenanim" />
        <activity
            android:name=".ui.UiPropertyAnim"
            android:label="@string/title_uipropertyanim" />
        <activity
            android:name=".ui.UiNineOldAndroids"
            android:label="@string/title_uinineoldandroids" />
        <activity
            android:name=".ui.UiAdvanced"
            android:label="@string/title_uiadvanced" />
        <activity
            android:name=".ui.UiImitateWandoujia"
            android:label="@string/title_uiimitatewandoujia" />
        <activity
            android:name=".ui.UiImitateBaiduReadBubble"
            android:label="@string/title_activity_ui_imitate_baidu_read_bubble" />
        <activity
            android:name=".ui.UiImitateMogujieCart"
            android:label="@string/title_activity_ui_imitate_mogujie_cart" />
        <activity
            android:name=".ui.UiImitateUCPullDownEye"
            android:label="@string/title_activity_ui_imitate_ucpull_down_eye" />
        <activity
            android:name=".ui.UiImitateTaobaoRetraction"
            android:label="@string/title_activity_ui_imitate_taobao_retraction" />
        <activity
            android:name=".ui.UiImitateBrowserZoomView"
            android:label="@string/title_activity_ui_imitate_browser_zoom_view" />
        <activity
            android:name=".ui.UiViewNatrueTransitionAnim"
            android:label="@string/title_activity_ui_view_natrue_transition_anim" />
        <activity
            android:name=".ui.UiPullToRefreshAnim01"
            android:label="@string/title_activity_ui_pull_to_refresh_anim01" />
        <activity
            android:name=".ui.UiPullToRefreshAnim02"
            android:label="@string/title_activity_ui_pull_to_refresh_anim02" />
        <activity
            android:name=".ui.UiPullToRefreshAnim03"
            android:label="@string/title_activity_ui_pull_to_refresh_anim03" />
        <activity
            android:name=".ui.UiPropertyAnimAdvanced"
            android:label="@string/title_activity_ui_property_anim_advanced" />
        <activity
            android:name=".ui.UiLayoutAnim"
            android:label="@string/title_activity_ui_layout_anim" />
        <activity
            android:name=".ui.UiLayoutAnimDefault"
            android:label="@string/title_activity_ui_layout_anim_default" />
        <activity
            android:name=".ui.UiLayoutAnimHideShow"
            android:label="@string/title_activity_ui_layout_anim_hide_show" />
        <activity
            android:name=".ui.UiAnimStreamControl"
            android:label="@string/title_activity_ui_anim_stream_control" />
        <activity
            android:name=".ui.UiCommonPropertyAnim"
            android:label="@string/title_activity_ui_common_property_anim" />
        <activity
            android:name=".ui.UiObjectPropertyAnim"
            android:label="@string/title_activity_ui_object_property_anim" />
        <activity
            android:name=".ui.UiActivityJump"
            android:label="@string/title_activity_ui_activity_jump" />
        <activity
            android:name=".ui.UiShowDialog"
            android:label="@string/title_activity_ui_show_dialog" >
        </activity>
        <activity
            android:name=".ui.UiFragmentTransition"
            android:label="@string/title_activity_ui_fragment_transition" >
        </activity>
        <activity
            android:name=".ui.UiViewPagerTransition"
            android:label="@string/title_activity_ui_view_pager_transition" >
        </activity>
        <activity
            android:name=".ui.UiActivityJumpAim"
            android:label="@string/title_activity_ui_activity_jump_aim" >
        </activity>
        <activity
            android:name=".ui.UiActivityOptionsCompatDemo"
            android:label="@string/title_activity_ui_activity_options_compat_demo" >
        </activity>
        <activity
            android:name=".ui.UiActivityOptionsCompatDemoTarget"
            android:label="@string/title_activity_ui_activity_options_compat_demo_target"
            android:theme="@style/TranslucentTheme" >
        </activity>
        <activity
            android:name=".ui.UiAnimByPath"
            android:label="@string/title_activity_ui_anim_by_path" >
        </activity>
        <activity
            android:name=".ui.UiLeafFlyLoadingAnim"
            android:label="@string/title_activity_ui_leaf_fly_loading_anim" >
        </activity>
        <activity
            android:name=".ui.UiDynamicRotationAnim"
            android:label="@string/title_activity_ui_dynamic_rotation_anim" >
        </activity>
    </application>

</manifest>
