<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cheng.highqualitycodestudy" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".exceptionhandle.HowToHandleExceptionActivity"
            android:label="@string/title_activity_how_to_handle_exception" >
        </activity>
        <activity
            android:name=".memoryleakhandle.HowToUseHandlerActivity"
            android:label="@string/title_activity_how_to_use_handler" >
        </activity>
        <activity
            android:name=".androidapimisuse.HowToUseLayoutInflaterActivity"
            android:label="@string/title_activity_use_layout_inflater" >
        </activity>
        <!-- 编写高质量代码的151个建议 -->
        <activity
            android:name="com.cheng.improve151suggest.I151SuggestActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.cheng.improve151suggest.I151SChapter01Activity"
            android:label="@string/title_activity_i151s_chapter01" >
        </activity>
        <activity
            android:name="com.cheng.improve151suggest.I151SChapter02Activity"
            android:label="@string/title_activity_i151s_chapter02" >
        </activity>
        <activity
            android:name="com.cheng.improve151suggest.I151SChapter03Activity"
            android:label="@string/title_activity_i151s_chapter03" >
        </activity>
        <activity
            android:name="com.cheng.improve151suggest.I151SChapter04Activity"
            android:label="@string/title_activity_i151s_chapter04" >
        </activity>
        <activity
            android:name="com.cheng.improve151suggest.I151SChapter05Activity"
            android:label="@string/title_activity_i151s_chapter05" >
        </activity>
        <activity
            android:name="com.cheng.improve151suggest.I151SChapter06Activity"
            android:label="@string/title_activity_i151s_chapter06" >
        </activity>
        <activity
            android:name="com.cheng.improve151suggest.I151SChapter07Activity"
            android:label="@string/title_activity_i151s_chapter07" >
        </activity>
        <activity
            android:name="com.cheng.improve151suggest.I151SChapter08Activity"
            android:label="@string/title_activity_i151s_chapter08" >
        </activity>
        <activity
            android:name="com.cheng.improve151suggest.I151SChapter09Activity"
            android:label="@string/title_activity_i151s_chapter09" >
        </activity>
        <activity
            android:name="com.cheng.improve151suggest.I151SChapter10Activity"
            android:label="@string/title_activity_i151s_chapter10" >
        </activity>
        <activity
            android:name="com.cheng.improve151suggest.I151SChapter11Activity"
            android:label="@string/title_activity_i151s_chapter11" >
        </activity>
        <activity
            android:name="com.cheng.improve151suggest.I151SChapter12Activity"
            android:label="@string/title_activity_i151s_chapter12" >
        </activity>
    </application>

</manifest>
